@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />


<div class="row">
<div class="container">
<span style="background-color: #3db527;color:white;padding:10px;border-radius: 10px;width: 100%;float: left;margin-bottom: 10px;text-align: center;font-size: 18px;">Siparişiniz başarılı bir şekilde alındı. En kısa sürede hazırlanıp gönderilecektir.</span>
</div>
</div>
<br />
<br />
<br />
<br />

